/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #1a1a1a;

  --color-primary: #648ddb;
  --color-secondary: #429ef5;
  --color-accent: #648ddb;
  }

  body.dark {
  --ion-background-color: #1e1e1e;
  --ion-text-color: #ffffff;

  --color-primary: #5f87e3;
  --color-secondary: #429ef5;
  --color-accent: #648ddb;
}